.board {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: rgb(16, 25, 42);
  border-radius: 8px;
  place-self: center;
  gap: 0.6rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }

  &__answer {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;

    &__text {
      padding: 0.4rem 1rem;
      background-color: rgb(150, 24, 24);
      border-radius: 6px;
    }
  }
}

.word {
  display: grid;
  grid-template-columns: repeat(5, 3.5rem);
  gap: 0.6rem;
  perspective: 1000px;
}

.letter {
  position: relative;
  width: 56px;
  height: 56px;
  transform-style: preserve-3d;

  &__back,
  &__front {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000;
    font-weight: 600;
    font-family: Roboto;
    border: solid medium #ec9c02;
    border-radius: 8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  &__back {
    background-color: rgb(1, 3, 28);

    &_correct {
      background-color: rgb(9, 158, 14);
    }

    &_present {
      background-color: #ec9c02;
    }
  }

  &__front {
    background-color: rgb(4, 52, 58);
  }
}

.letter__back.flip {
  transform: rotateX(180deg);
}

@for $i from 0 through 4 {
  .letter.flip-#{$i} {
    transform: rotateX(-180deg);
    transition: transform 800ms (300ms * $i);

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
