.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.8rem 2rem;
  max-width: 20rem;
  background-color: var(--light-orange-color);
  border: solid 3px var(--light-orange-color);
  border-radius: 8px;
  box-shadow: 0 2px 100px var(--black-transparent-7);
  overflow: hidden;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    left: -7.8rem;
    top: -3.6rem;
    display: block;
    width: 130%;
    height: 30%;
    background-color: var(--background-light-orange-color);
    border-radius: 100% / 100%;
    box-shadow: -10rem 1rem 0 5rem var(--light-orange-color2),
      12rem 1rem 0 5rem var(--light-orange-color2);
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: -6rem;
    bottom: -3rem;
    display: block;
    width: 130%;
    height: 30%;
    background-color: var(--orange-color);
    border-radius: 100% / 100%;
    box-shadow: 0 1rem 0 1.9rem var(--orange-color2),
      5rem -15rem 0 30px var(--orange-color3);
    z-index: 1;
  }

  &__button,
  &__input {
    z-index: 3;
  }

  &__label {
    position: relative;
    margin-bottom: 0.5rem;
    font-family: 'Roboto Slab';
    color: var(--black-color);
    letter-spacing: 0.4px;
    z-index: 4;
  }

  &__input {
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    background-color: var(--background-gray-blue-color);
    color: var(--white-color);
    border-radius: 6px;
    border: solid 2px var(--gray-blue-color);
    outline: none;

    &:focus {
      outline: solid 2px var(--outline-form-color);
      outline-offset: -2px;
    }
  }

  &__error {
    max-width: 20rem;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem;
    background-color: var(--background-dark-red-color);
    border: solid thin var(--red-color);
    border-radius: 8px;
    font-family: Prompt, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

  &__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.formSetting__fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
  border: solid 2px var(--orange-color);
  border-radius: 6px;
  gap: 1rem;

  & input {
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    background-color: var(--background-gray-blue-color);
    color: var(--white-color);
    border-radius: 6px;
    border: solid 2px var(--gray-blue-color);
    outline: none;

    &:focus {
      outline: solid 2px var(--outline-form-color);
      outline-offset: -2px;
    }
  }

  @media screen and (max-width: 31.25rem) {
    margin: 0 auto;
  }
}
