@use '../../mixins/backgroundText' as bgText;
@use '../../mixins/linearGradient' as lg;

.button {
  display: block;
  padding: 0.4rem 1rem;

  &_home {
    background-color: #820910;
    box-shadow: inset 0 0 8px 3px #000;
    border: solid 3px #ec9c02;
    border-bottom-style: ridge;
    border-right-style: ridge;

    &__letter {
      font-family: 'Roboto Slab';

      @include bgText.backgroundText('top', 1.4rem, (#df950b 25%) #fff);
    }
  }

  &_accountDelete {
    background-color: #171b27;
    border: solid thin #fff;
    border-radius: 6px;
    color: #ff817b;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:disabled {
      background-color: #0d0e13;
      border: solid thin rgb(100, 100, 100);
      border-radius: 6px;
      color: #ff6f68;
    }

    &:not(:disabled):hover {
      background-color: #a81f1b;
      border-color: #f85149;
      color: #fff;
    }
  }

  &_form {
    margin: 0 auto;
    background-color: #090f22;
    color: #fff;
    font-family: Prompt, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    border: none;

    &:hover {
      background-color: #12255d;
      cursor: pointer;
    }
  }

  &_setting {
    border-radius: 5px;
    border: none;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

    @include lg.linearGradient(bottom, #146186 #01375a);
  }
}

.panelBtns {
  display: flex;
  justify-content: right;
  gap: 0.6rem;
}
