@use '../../mixins/backgroundText' as bgText;

.button {
  display: block;
  padding: 0.4rem 1rem;

  &_home {
    background-color: #820910;
    box-shadow: inset 0 0 8px 3px #000;
    border: solid 3px #ec9c02;
    border-bottom-style: ridge;
    border-right-style: ridge;

    &__letter {
      @include bgText.backgroundText('top', 1.4rem, (#df950b 25%) #fff);
      font-family: 'Roboto Slab', system-ui, -apple-system, 'Segoe UI', Ubuntu,
        'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }

  &_form {
    margin: 0 auto;
    background-color: #090f22;
    color: #fff;
    font-family: Prompt;
    border-radius: 6px;
    border: none;

    &:hover {
      background-color: #12255d;
      cursor: pointer;
    }

    &:disabled {
      background-color: #090f22;
      cursor: default;
    }
  }
}
