@use '../../mixins/backgroundText' as bgText;
@use '../../mixins/linearGradient' as lg;

.button {
  display: block;
  padding: 0.4rem 1rem;

  &_home {
    background-color: var(--background-color-red);
    box-shadow: inset 0 0 8px 3px var(--black-color);
    border: solid 3px var(--yellow-border-color);
    border-bottom-style: ridge;
    border-right-style: ridge;

    &__letter {
      font-family: 'Roboto Slab';
      @include bgText.backgroundText(
        'top',
        1.4rem,
        (var(--background-letter-orange-color) 25%) var(--white-color)
      );
    }
  }

  &_accountDelete {
    background-color: var(--background-dark-blue-color);
    border: solid thin var(--white-color);
    border-radius: 6px;
    color: #ff817b;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:disabled {
      background-color: var(--background-dark-color);
      border: solid thin var(--gray-border-color);
      border-radius: 6px;
      color: var(--light-red-color);
    }

    &:not(:disabled):hover {
      background-color: var(--background-color-red2);
      border-color: var(--light-red-color2);
      color: var(--white-color);
    }
  }

  &_error404 {
    margin-bottom: 1.5rem;
    background-color: var(--background-dark-blue-color2);
    border-radius: 8px;
    font-family: Roboto;
    font-weight: 700;
    color: var(--white-color);
    &:hover {
      background-color: var(--background-color-blue);
    }
  }

  &_form {
    margin: 0 auto;
    background-color: var(--background-dark-blue-color3);
    color: var(--white-color);
    font-family: Prompt, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    border: none;

    &:hover {
      background-color: var(--background-color-blue2);
      cursor: pointer;
    }
  }

  &_setting {
    border-radius: 5px;
    border: none;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

    @include lg.linearGradient(
      bottom,
      var(--background-gradient-color1) var(--background-gradient-color2)
    );
  }

  &_stadistics {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &_playAgain {
    margin: 2rem auto 0;
    padding: 0.4rem 1rem;
    background-color: var(--background-color-red);
    box-shadow: inset 0 0 8px 3px var(--black-color);
    border: solid 3px var(--yellow-border-color);
    border-bottom-style: ridge;
    border-right-style: ridge;
    border-radius: 6px;

    &_letter {
      font-family: 'Roboto Slab';
      color: var(--background-letter-orange-color);
    }

    &_blue {
      background-color: var(--background-dark-blue-color4);

      &:hover {
        background-color: var(--background-light-blue-color);
      }

      &:hover span {
        color: var(--brown-color);
      }
    }
  }
}

.panelBtns {
  display: flex;
  justify-content: right;
  gap: 0.6rem;
}
