.container__form {
  width: 100%;
  padding: 0 2rem;
}

.signUP__logo {
  display: block;
  height: auto;
  width: 3rem;
  background-color: var(--black-color);
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.signUp__title {
  font-size: 1.35rem;
  font-family: Prompt;
  text-align: center;
}

.signUp__signIn {
  display: flex;
  max-width: 20rem;
  width: inherit;
  margin: 1rem auto 0;
  padding: 1rem;
  background-color: var(--background-dark-blue-color);
  justify-content: space-between;
  font-family: Prompt;
  border: solid thin var(--white-color);
  border-radius: 8px;
}
