@use '../../mixins/backgroundText' as bgText;

.headerPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.8rem;
  background-color: #030303;
}

.logo {
  margin: 0;

  &__img {
    height: 100%;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__link {
    display: block;
    height: 2.5rem;
    width: auto;
  }
}

.navBar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0 0.6rem;
}

.container__logo {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: auto;

  &_home {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 5rem;
    padding: 2rem 2rem 3rem;
    background-color: #262620;
    border-radius: 25px / 40px;
    gap: 1rem;
  }

  &__img {
    max-width: 10rem;
    width: 70vw;

    @media screen and (max-width: 25rem) {
      max-width: 15rem;
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    padding: 1rem;
    margin: 0;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    text-align: center;
    font-family: Prompt, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu,
      'Open Sans', 'Helvetica Neue', sans-serif;
    @include bgText.backgroundText(bottom, 1.6rem, (#caa166 50%) #f3f3f3);

    @media screen and (max-width: 25rem) {
      font-size: 1.8rem;
    }
  }
}
